
<div class='login-container'>
    <div class="row">
        <div class="col-sm-6">
            <h2>Sign In</h2>
            <form {{action 'doValidateAndLogin' on='submit'}} class="login-form">
                <div class="form-group">
                    <label for="loginname-field">Username/Email:</label>
                    <span class="error">{{model.loginNameValidatorResult.error}}</span>
                    {{input type="text" id="loginname-field" class="form-control" value=model.loginName}}
                </div>
                <div class="form-group">
                    <label for="password-login-field">Password:</label>
                    <span class="error">{{model.passwordValidatorResult.error}}</span>
                    {{input type="password" id="password-login-field" class="form-control" value=model.password}}
                </div>

                {{spinner-button buttonText='Go' class="btn btn-primary" type='submit'}}
            </form>
        </div>

        <div class="col-sm-6 register">
            <div class="well well-sm">
                <h4>No Account?</h4>
                <p>If you don't have an account yet, click 'Sign Up' below to get started.  It's free!</p>
                <div class="register-buttons">
                    {{#link-to 'user.new' class="btn btn-default"}}
                        Sign up
                    {{/link-to}}
                </div>
            </div>
        </div>

    </div> <!-- end .row -->
</div> <!-- end .login-container -->
