
<div class='user-edit'>
    {{#if isNewUser}}
        <h2>Create Account</h2>
    {{else}}
        <h2>Edit Account</h2>
    {{/if}}

    <form>
        <div class="form-group">
            <label for="email-field">Email:</label>
            {{input type="email" id="email-field" class="form-control" value=model.email}}
        </div>
        <div class="form-group">
            <label for="username-field">Username:</label>
            {{input type="text" id="username-field" class="form-control" value=model.username}}
        </div>

        <div class="form-group">
            <label for="password-field">Password:</label>
            {{input type="password" id="password-field" class="form-control" value=model.password}}
        </div>
        <div class="form-group">
            <label for="passwordconf-field">Confirm Password:</label>
            {{input type="password" id="passwordconf-field" class="form-control" value=passwordConf}}
        </div>

        <button {{action 'reset' model}} type="button" class="btn btn-default">Reset</button>
        {{#if isNewUser}}
            <button {{action 'create' model}} type="button" class="btn btn-primary">Create Account</button>
        {{else}}
            <button {{action 'save' model}} type="button" class="btn btn-primary">Save Changes</button>
        {{/if}}
    </form>
</div>
